.container{
    border: 2px solid rgba(128, 128, 128, 0.397);
    background-color: white;
    padding: 5px;
    padding-bottom: 250px;
}
body{
    background-color: rgba(128, 128, 128, 0.13);
}
.image{
    border: 2px solid rgba(255, 166, 0, 0.637);
    width: 80px;
    height: 80px;  
    border-radius: 50%;
}
.flex{
    padding: 10px;
    display: flex;
    gap: 70px;
    border: 2px solid rgba(255, 166, 0, 0.637);
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgba(255, 166, 0, 0.637);
    padding: 10px;
}
ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.section{
    background-color: rgba(110, 106, 106, 0.521);
    text-align: center;
    padding: 50px;
    margin-top: 10px;
}
.menu {
    display: none;
}
@media screen and (max-width:720px){
    .menu {
        display: flex;  
    }
    .fa-solid{
        color: black;
    }
    .menu .fa-solid {
        font-size: 20px;
    }
    .link{
        display: none;
    }
    .menu:hover+.link {
        display: block;
    }
    a{
        border: none;
    }
    .flex {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    ul, li>a{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}